:root {
    --primary-color: #002940;
    --secondary-color: #000A0F;
    --tertiary-color: #fff;
    --quaternary-color: #000
}

body {
    margin: 0;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color)
}


/* ----------------- 
    MAINNAV 
   ----------------- */

/* navbar */

#navbar {
    background-color: var(--quaternary-color);
    position: sticky;
    top: 0;
    z-index: 10
}


/* Toggle button */

.mainnav-toggle {
    display: inline-block;
    padding: 0.75em 15px;
    line-height: 1em;
    float: left;
    font-size: 1.4em;
    color: #fff;
    width: 100%
}

.mainnav-toggle:focus {
    outline: 0
}